<ul class="menu">
    <li>
        <a href="{{ url('due') }}">
            Dues
        </a>
    </li>
    <li>
        <a href="{{ url('duelist') }}">
            Lists
        </a>
    </li>
    <li>
        <a href="{{ url('debtor') }}">
            Debtors
        </a>
    </li>

</ul>