<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="navbar-nav nav">
            <li>
                <a href="{{ url('due') }}">
                    Dues
                </a>
            </li>
            <li>
                <a href="{{ url('duelist') }}">
                    Lists
                </a>
            </li>
            <li>
                <a href="{{ url('debtor') }}">
                    Debtors
                </a>
            </li>
        </ul>
    </div>
</nav>