<html>
    <head>
        <title>
            {% block title %}
                Dues
            {% endblock %}
        </title>
        {%block head %}
        {% endblock %}
    </head>
    <body>
     {%block body %}
     {% endblock %}
    </body>
</html>