{% extends "DuesBundle::template.html.twig" %}

{% block content -%}
{{ form_stylesheet(form) }}
{{ form_javascript(form) }}
    <h1>Due creation</h1>

    {{ form(form,{ 'style': 'horizontal'}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('due') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
